<html>
	<head>
		<title>Copa Delta Bytes</title>
		<link rel="stylesheet" href="/css/bootstrap.css">
		<link rel="stylesheet" href="/css/materialdesignicons.min.css">
		<link rel="stylesheet" href="/css/style.css">
		<script type="text/javascript" src="/js/bootstrap.js"></script>
		<script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
		<script type="text/javascript" src="/js/sweetalert.min.js"></script>
		<script type="text/javascript">
			$('#btnSalvar').html(' Saving ...');
		</script>
	</head>
	<body>
		<div class="row">
			<div class="row" id="header">
				<div class="col-2" >
					<a href="/copadeltabytes/menu"> <img src="/images/logo.png" alt="" id="logo"> </a>
				</div>

				<div class="col-10" >
					<img id="campoLateral" src="/images/field.jpg" alt="" style="height: 10vw; width: 85vw;">
				</div>
			</div>

			<div class="row offset-2 col-8" >
				<h1>Cadastro de Campeonato</h1>
			</div>
		</div>

		<form class="" action="#" method="post">
			<div class="row offset-2 col-8 mb-5">
            	<input id="txtNomeCampeonato" type="text" name="txtNomeCampeonato" value="" placeholder="Nome do Campeonato"/>
			</div>
			<div class="row offset-2 col-8 mb-5">
            	<input id="txtNumeroParticipantes" type="text" name="txtNumeroParticipantes" value="" placeholder="Quantos participam?"/>
			</div>
			<div class="row offset-2 col-8 mb-5">
            	<button id="btnEntrar" type="submit" name="btnEntrar" value="Salvar"> <i class="mdi mdi-content-save"></i> </button>
			</div>
        </form>

	</body>
</html>
