<html>
	<head>
		<title>Copa Delta Bytes</title>
		<link rel="stylesheet" href="/css/bootstrap.css">
		<link rel="stylesheet" href="/css/materialdesignicons.min.css">
		<link rel="stylesheet" href="/css/style.css">
		<script type="text/javascript" src="/js/bootstrap.js"></script>
		<script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
		<script type="text/javascript" src="/js/sweetalert.min.js"></script>
	</head>
	<body>
		<div class="row">
			<div class="row" id="header">
				<div class="col-2" >
					<a href="/copadeltabytes/menu"> <img src="/images/logo.png" alt="" id="logo"> </a>
				</div>

				<div class="col-10" >
					<img id="campoLateral" src="/images/field.jpg" alt="" style="height: 10vw; width: 85vw;">
				</div>
			</div>

		</div>

		<h1>Partida</h1>
        <form class="" action="#" method="post">

            <div class="row">
    			<div class="offset-2 col-6">
    	            <input class="w-100" id="txtNome1" type="text" name="txtNome1" value="" placeholder="Jogador 1"/>
                </div>

                <div class="offset-1 col-1">
                    <input class="w-100" id="txtPontos1" type="text" name="txtPontos1" value="0" placeholder="0"/>
                </div>
            </div>

            <div class="row offset-2 col-8 mb-5">
	            <h2>X</h2><input id="btnJogo" type="button" name="btnJogo" value="Terminar Partida"/>
            </div>

            <div class="row">
                <div class="offset-2 col-6">
    	            <input class="w-100" id="txtNome2" type="text" name="txtNome2" value="" placeholder="Jogador 2"/>
    			</div>

                <div class="offset-1 col-1">
                    <input class="w-100" id="txtPontos2" type="text" name="txtPontos2" value="0" placeholder="0"/>
    			</div>
            </div>

        </form>
	</body>
</html>
