<html>
	<head>
		<title>Copa Delta Bytes</title>
		<link rel="stylesheet" href="/css/bootstrap.css">
		<link rel="stylesheet" href="/css/materialdesignicons.min.css">
		<link rel="stylesheet" href="/css/style.css">
		<script type="text/javascript" src="/js/bootstrap.js"></script>
		<script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
		<script type="text/javascript" src="/js/sweetalert.min.js"></script>
		<script type="text/javascript">
			$('#btnSalvar').html(' Saving ...');
		</script>
	</head>
	<body>
		<div class="row">
			<div class="row" id="header">
				<div class="col-2" >
					<a href="/copadeltabytes/"> 
						<img src="/images/logo.png" alt="" id="logo">
					</a>
				</div>

				<div class="col-10" >
					<img id="campoLateral" src="/images/field.jpg" alt="" style="height: 10vw; width: 85vw;">
				</div>
			</div>

			<div class="row offset-2 col-8" >
				<h1>Esqueci a Senha</h1>
			</div>
		</div>

		<form class="" action="#" method="post">
			<div class="row offset-2 col-8 mb-5">
				<input id="txtEmail" type="text" name="txtEmail" value="" placeholder="E-mail"/>
			</div>
			<div class="row offset-2 col-8 mb-5">
				<button id="btnEnviar" type="submit" name="btnEnviar" value="Enviar"> <i class="mdi mdi-send"></i> </button>
			</div>
		</form>
	</body>
</html>
