<html>
	<head>
		<title>Copa Delta Bytes</title>
		<link rel="stylesheet" href="/css/bootstrap.css">
		<link rel="stylesheet" href="/css/materialdesignicons.min.css">
		<link rel="stylesheet" href="/css/style.css">
		<script type="text/javascript" src="/js/bootstrap.js"></script>
		<script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
		<script type="text/javascript" src="/js/sweetalert.min.js"></script>
	</head>
	<body>
		<div class="row">
			<div class="row" id="header">
				<div class="col-2" >
					<a href="/copadeltabytes/menu"> <img src="/images/logo.png" alt="" id="logo"> </a>
				</div>

				<div class="col-10" >
					<img id="campoLateral" src="/images/field.jpg" alt="" style="height: 10vw; width: 85vw;">
				</div>
			</div>

			<div class="row offset-2 col-8" >
				<h1>Lista de Jogadores</h1>
			</div>
		</div>

        <table style="margin-left: 18vw;">
            <thead>
                <tr>
                    <th >ID</th>
                    <th >Nome</th>
                    <th >Editar</th>
                    <th >Excluir</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td >5</td>
                    <td >Anthony Howard Stark</td>
					<td > <button type="button" name="btnEditar" id="btnEditar"> <i class="mdi mdi-lead-pencil"></i> </button> </td>
                    <td > <button type="button" name="btnExcluir" id="btnExcluir"> <i class="mdi  mdi-delete"></i> </button> </td>
                </tr>
                <tr>
                    <td >7</td>
                    <td >Walter Disney</td>
                    <td > <button type="button" name="btnEditar" id="btnEditar"> <i class="mdi mdi-lead-pencil"></i> </button> </td>
                    <td > <button type="button" name="btnExcluir" id="btnExcluir"> <i class="mdi  mdi-delete"></i> </button> </td>
                </tr>
            </tbody>
        </table>
		<br>
		<div class="row offset-4 col-4">
        	<a href="/copadeltabytes/jogador" class="btn" id="btnNovoJogador" name="btnNovoJogador" value="Novo Jogador"> 
        		<i class="mdi mdi-account-plus"></i> 
        	</a>
        </div>
		
	</body>
</html>
